<head><link rel="stylesheet" href="../../CSS3/articlenew.css"><title>Edit Article</title> </head>
<%- include('../partials/header.ejs') %>
    <body>
        <form class="form" method="POST" action="/article/update">
            <h2>EDIT...</h2>
            <input type="hidden" name="id" value="<%= article.id %>">
            <p type="Name"><input class="boxinfo" type="text" name="title" placeholder="Edit Name..." autocomplete="off" required value="<%= article.title %>"></input></p>
            <p type="Descrição"><textarea class="boxinfo" name="body" placeholder="Edit description..." autocomplete="off" required><%= article.body %></textarea></p>
            <select name="category" class="select">
              <% Category.forEach(category => { %>
                <option value="<%= category.id %>"><%= category.title %></option>
              <% }) %>
            </select>
            <button>Send Edit</button>
            <div class="info">
              <div class="mail">ArtSticks</div>
              <div class="mail">ARTcontact@artsticks.com</div>
            </div>
          </form>
        <%- include('../partials/menu.ejs') %>
    </body>
<%- include('../partials/footer.ejs') %>