<%- include('../partials/header.ejs') %>
<head><link rel="stylesheet" href="../../CSS3/categories.css"><title>Articles</title></head>
<body>
    <%- include('../partials/menu.ejs') %>
   <main>
       <a href="/articles/new"><button class="criar">Criar</button></a>
    <table>
        <tr>
          <th style="width: 5%;">ID</th>
          <th style="width: 20%;">TITLE</th>
          <th style="width: 20%;">SLUG</th>
          <th style="width: 10%;">ACTION</th>
        </tr>
        <% article.forEach(article => { %>
            <tbody>
                <tr style="text-align: center;">
                    <td class="text-center align-middle"><%= article.id %></td>

                      <td class="text-center align-middle"><%= article.title %></td>

                      <td class="text-center align-middle"><%= article.slug %></td>
                    

                    <td style="display: flex; flex-wrap: wrap; text-align: center; margin: auto;">
                          <form action="/article/delete" method="POST">
                              <input type="hidden" name="id" value="<%= article.id %>">
                              <button class="btn-action" style="text-align: center;">Delete</button>
                          </form>
                          <form action="/article/edit" method="POST">
                              <input type="hidden" name="id" value="<%= article.id %>">
                              <button class="btn-action">Edit</button>
                          </form>
                    </td>
                  </tr>
            </tbody>
        <% }) %>
      </table>
   </main>
</body>
<%- include('../partials/footer.ejs') %>